<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Page - Product Admin Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  </head>

  <body>
    <div>
      <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
          <div class="logo-mobile">
				    <a href="#"><img src="/images/logo-01.png" style="height: 50px;" alt="IMG-LOGO" ></a>
			 </div>
      </nav>
    </div>

    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-12 mx-auto tm-login-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto" style="border-radius:1rem ; background-color: #111340;" >
            <div class="row">
              <div class="col-12 ">
                <h1  id="heading" class="tm-block-title mb-4 text-center text-white">Login</h1>
                   <div style="height: 50px;">
                    <div
                    class="alert alert-danger text-center"
                    role="alert"
                    id="incorrect"
                    style="display: none;position: relative;width: auto;"
                   >
                  </div>
                  </div>
                  <script> 
                     
                     if({{msg_email}}){
                    document.getElementById('incorrect').innerHTML ="Email Not Registered"
                    document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);
                     }
                     if({{msgpassword}}){
                    document.getElementById('incorrect').innerHTML ="Incorrect Passsword"
                    document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);
                     }
                     if({{msgblock}}){
                    document.getElementById('incorrect').innerHTML ="User Blocked"
                    document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);
                     }
                    
                   </script>
            <div class="row mt-2">
              <div class="col-12" id = "signup">
                <form action="/login" method="post" class="tm-login-form" onsubmit=" return validateform()">
                  <div class="form-group">
                    <label for="email"  class="text-white">Enter Email</label>
                    <input
                      name="email"
                      type="text"
                      class="form-control validate"
                      id="email"
                    
                    />
                  </div>
                  <div class="form-group mt-3">
                    <label class="text-white" for="password">Password</label>
                    <input
                      name="password"
                      type="password"
                      class="form-control validate"
                      id="password"
                     
                    />
                  </div>
                  <div class="form-group mt-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase mt-2"
                      style="border-radius:2rem ;"
                    >
                      Login
                    </button>
                  </div>
                  <div class="form-group mt-2 d-flex justify-content-center " >
                  <a href="/password" id="forgotPassword" class="text-danger">Forgot password?</a> 
                   </div> 
                   <div class="form-group mt-2 d-flex justify-content-center ">
                  <a href="/verifyphone" id="createAccount">Create New Account?</a> 
                   </div>   
                </form>
              </div > 
            </div>
          </div>
        </div>
      </div>
      <script>


  function validateform(){  
 const pw = document.getElementById("password").value;
 const email = document.getElementById("email").value;
 var atposition=email.indexOf("@");
 var dotposition=email.lastIndexOf(".");
  

if ( email == null || email == "" ){  
  document.getElementById('incorrect').innerHTML="Enter Email Address"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);  
  return false}
  else if(pw =="" ||pw.length<6){
     document.getElementById('incorrect').innerHTML="Enter Valid Password"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);  
  return false} 
else if(atposition<1||dotposition<atposition+2||dotposition+2>=y.length){
   document.getElementById('incorrect').innerHTML="Enter Valid Email Address"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);  
  return false}
  else{
    return true;
  }

          



  
  
}
 
   


</script>
 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const Toast = Swal.mixin({
                toast: true,
                position: "center-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                }
            })
  if({{msgblock}}){
   document.getElementById('incorrect').innerHTML="User Blocked"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000) 
  }
  else if({{msgpassword}}){
   document.getElementById('incorrect').innerHTML="Password Incorrect"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000) 
  }
  else if({{msg_email}}){
   document.getElementById('incorrect').innerHTML="E-mail Incorrect"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000) 
  }
  
</script>
<script>

   function login(){
    document.getElementById('heading').innerHTML="LOGIN"
   document.getElementById('signup').innerHTML=`<form action="/login" method="post" class="tm-login-form" onsubmit=" return validateform()">
                  <div class="form-group">
                    <label for="email"  class="text-white">Enter Email</label>
                    <input
                      name="email"
                      type="text"
                      class="form-control validate"
                      id="email"
                    
                    />
                  </div>
                  <div class="form-group mt-3">
                    <label class="text-white" for="password">Password</label>
                    <input
                      name="password"
                      type="password"
                      class="form-control validate"
                      id="password"
                     
                    />
                  </div>
                  <div class="form-group mt-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase mt-2"
                      style="border-radius:2rem ;"
                    >
                      Login
                    </button>
                  </div>
                  <div class="form-group mt-2 d-flex justify-content-center " >
                  <a href="/password" id="forgotPassword" class="text-danger">Forgot password?</a> 
                   </div> 
                   <div class="form-group mt-2 d-flex justify-content-center ">
                  <a href="/verifyphone" id="createAccount">Create New Account?</a> 
                   </div>   
                </form>`
  }
  function change(formName){
       document.getElementById('heading').innerHTML="VERIFY PHONE NUMBER"
    
  document.getElementById('signup').innerHTML=`                
               <form action="/" id=${formName} method="post" class="tm-login-form" >
                  <div class="form-group">
                    <label for="email"  class="text-white mb-4">Enter Mobile Number</label>
                    <input
                      name="phone"
                      placeholder="Enter Mobile Number"
                      id="mobilenumber"
                      type=""
                      class="form-control validate"
                      
                    
                    />
                  </div>
                
                  <div class="form-group mt-5 mb-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase mt-2"
                      style="border-radius:2rem ;"
                      id="sign-button"
                    >
                      Send Otp
                    </button>
                  </div>
                    
                </form>`
  }  
  

  function phoneVerify(phone,password){
    
         axios.post('/verifyphone',{phone,password}).then((response)=>{
      if(response.data.status){
        let {phone,password}= response.data
        console.log(phone)
        Toast.fire({
                            icon: "success",
                            title: "SUCCESS",
                            text: "OTP Send to your Number"
                        });
         document.getElementById('heading').innerHTML="VERIFY OTP"                
       document.getElementById('signup').innerHTML=`<form action="/" id="format" method="post" class="tm-login-form" ">
                  <div class="form-group">
                    <label for="email"  class="text-white mb-4">Enter OTP</label>
                    <input
                      type=""
                      name="otp"
                     placeholder="Enter OTP"
                   id="otpinp"
                      class="form-control validate"
                      
                    
                    />
                  </div>
                  
                  <div class="form-group mt-5 mb-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase mt-2"
                      style="border-radius:2rem ;"
                      id="sign-button2"
                    >
                     VERIFY OTP
                    </button>
                  </div>
                    
                </form>
            <div id="time">    
          <div id="timerId">
                        <p class="my-2 text-primary" style="font-size:13px;text-align:center"> Resend OTP in
                            <span id="countdowntimer">60</span> Seconds
                        </p>
                    </div>
          </div>          
        `                 
         timer(phone,password)
      }
      else{
       document.getElementById('incorrect').innerHTML=response.data.msg
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);
      }
        } )

          }  
  function timer(phone,password){
  console.log(phone)
     var timeleft = 60;
            var downloadTimer = setInterval(function () {
                timeleft--;
                document.getElementById("countdowntimer").textContent = timeleft;
                if (timeleft <= 0) {
                    clearInterval(downloadTimer);
                    document.getElementById('time').innerHTML = `<div class="form-group mt-2 d-flex justify-content-center" id="resendIdButton" 
                    onclick="phoneVerify('${phone}','${password}')"  >
                  <span  class="text-danger">Resend OTP?</span> 
                   </div>`
                }

            }, 1000);
    document.getElementById("format").addEventListener("submit" ,e=>{
    e.preventDefault()
    if (timeleft > 0) {  
    const otp = document.getElementById("otpinp").value;
    if (otp.length==0) {
    document.getElementById('incorrect').innerHTML="Enter OTP "
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000); 
       
    }
        else if (otp.length!=6) {
      document.getElementById('incorrect').innerHTML="Enter Valid OTP"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000); 
    }
    else{
      axios.post('/otpverify',{otp,password}).then((response)=>{
        let{password}=response.data
      if(response.data.status){
        changeSignup(password)
     
      }
      else{
       document.getElementById('incorrect').innerHTML=response.data.msg
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);
      }
      })
    }
    }
    else{
     Toast.fire({
                            icon: "error",
                            title: "OTP Timed Out",
                            text: "Please Resend OTP"
                        }) 
    }
        })         
            
    }   

  function changeSignup(password){
    if(!password){
     document.getElementById('heading').innerHTML="SIGNUP"
     document.getElementById('signup').innerHTML=`<form action="/" method="post" class="tm-login-form" id="format3">
                   <div class="form-group">
                    <label for="name"  class="text-white">Enter Name</label>
                    <input
                      name="name"
                      type="text"
                      class="form-control validate"
                      id="name"
                    
                    />

                  <div class="form-group">
                    <label for="email"  class="text-white">Enter Email</label>
                    <input
                      name="email"
                      type="text"
                      class="form-control validate"
                      id="email"
                    
                    />
                  </div>
                  <div class="form-group mt-3">
                    <label class="text-white" for="password">Password</label>
                    <input
                      name="password"
                      type="password"
                      class="form-control validate"
                      id="password"
                     
                    />
                  </div>
                  <div class="form-group mt-3">
                    <label class="text-white" for="password">Password</label>
                    <input
                      name="confirm_password"
                      type="password"
                      class="form-control validate"
                      id="confirm_password"
                     
                    />
                  </div>
                  <div class="form-group mt-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase mt-2"
                      style="border-radius:2rem ;"
                    >
                      Submit
                    </button>
                  </div>
                  <div class="form-group mt-2 d-flex justify-content-center " >
                  <a href="/password" id="forgotPassword" class="text-danger">Forgot password?</a> 
                   </div> 
                   <div class="form-group mt-2 d-flex justify-content-center ">
                  <a href="/verifyphone" id="createAccount">Create New Account?</a> 
                   </div>`

            document.getElementById("format3").addEventListener("submit" ,e=>{
    e.preventDefault()
    let formData= new FormData(e.target)
            let data =  Object.fromEntries(formData)
    let {email,password,confirm_password,name}= data
      let atposition=email.indexOf("@");
      let dotposition=email.lastIndexOf(".")
      if(name.length<3||name==null){
      document.getElementById('incorrect').innerHTML="Enter Valid Name"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);

      }
      else if(atposition<1||dotposition<atposition+2||dotposition+2>=email.length)
  {
document.getElementById('incorrect').innerHTML="Enter Valid Email Address"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);
  }
  else if(password =="" || confirm_password==""){
  document.getElementById('incorrect').innerHTML="enter both Password feild"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);
 
 }

  else if(password.length !=0 && confirm_password.length!=password.length||password!=confirm_password){
    document.getElementById('incorrect').innerHTML="enter same passwords"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);
   
  }
  else{
   axios.post('/signup',data).then((response)=>{
      if(response.data.status){
        Toast.fire({
                            icon: "success",
                            title: "SUCCESS",
                            text: "Signup Successfull"
                        })
        login()
      }
      else{
        Toast.fire({
                            icon: "error",
                            text: response.data.msg
                        })
      }
   })

  }
        })

    }
    else{
     document.getElementById('heading').innerHTML="CHANGE PASSWORD"
     document.getElementById('signup').innerHTML=`<form action="/" method="post" class="tm-login-form" id="format2">
                  <div class="form-group">
                    <label for="email"  class="text-white">Enter Email</label>
                    <input
                      name="email"
                      type="text"
                      class="form-control validate"
                      id="email"
                    
                    />
                  </div>
                  <div class="form-group mt-3">
                    <label class="text-white" for="password">Password</label>
                    <input
                      name="password"
                      type="password"
                      class="form-control validate"
                      id="password"
                     
                    />
                  </div>
                  <div class="form-group mt-3">
                    <label class="text-white" for="password">Password</label>
                    <input
                      name="confirm_password"
                      type="password"
                      class="form-control validate"
                      id="confirm_password"
                     
                    />
                  </div>
                  <div class="form-group mt-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase mt-2"
                      style="border-radius:2rem ;"
                    >
                      Submit
                    </button>
                  </div>
                  <div class="form-group mt-2 d-flex justify-content-center " >
                  <a href="/password" id="forgotPassword" class="text-danger">Forgot password?</a> 
                   </div> 
                   <div class="form-group mt-2 d-flex justify-content-center ">
                  <a href="/verifyphone" id="createAccount">Create New Account?</a> 
                   </div>`

            document.getElementById("format2").addEventListener("submit" ,e=>{
    e.preventDefault()
    let formData= new FormData(e.target)
            let data =  Object.fromEntries(formData)
    let {email,password,confirm_password}= data
      let atposition=email.indexOf("@");
      let dotposition=email.lastIndexOf(".")
       if(atposition<1||dotposition<atposition+2||dotposition+2>=email.length)
  {
document.getElementById('incorrect').innerHTML="Enter Valid Email Address"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);
  }
  else if(password =="" || confirm_password==""){
  document.getElementById('incorrect').innerHTML="enter both Password feild"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);
 
 }

  else if(password.length !=0 && confirm_password.length!=password.length||password!=confirm_password){
    document.getElementById('incorrect').innerHTML="enter Same Password "
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);
   
  }
  else{
   axios.patch('/password',data).then((response)=>{
      if(response.data.status){
        Toast.fire({
                            icon: "success",
                            title: "SUCCESS",
                            text: "Password Reset Successfully"
                        })
        login()
      }
      else{
        Toast.fire({
                            icon: "error",
                            text: response.data.msg
                        })
      }
   })

  }
        })
    }      
    }

  


document.getElementById("createAccount").addEventListener("click",e=>{
  e.preventDefault()
   change("form")

      
     
   document.getElementById("form").addEventListener("submit" ,e=>{
    e.preventDefault()
   let phone = document.getElementById("mobilenumber").value
 
    if( phone === "" || phone === null ){
          document.getElementById('incorrect').innerHTML="Enter Mobile Number"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);  
    }
    else if(phone.length!=10){
document.getElementById('incorrect').innerHTML="Enter Valid Mobile Number"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);  
      

    }
    else{
      phoneVerify(phone)
    }
 
 
  })
   
             

})


</script>
<script>

  document.getElementById("forgotPassword").addEventListener("click",e=>{
  e.preventDefault()
   change("form2")

      
     
   document.getElementById("form2").addEventListener("submit" ,e=>{
    e.preventDefault()
   let phone = document.getElementById("mobilenumber").value
 
    if( phone === "" || phone === null ){
          document.getElementById('incorrect').innerHTML="Enter Mobile Number"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);  
    }
    else if(phone.length!=10){
document.getElementById('incorrect').innerHTML="Enter Valid Mobile Number"
                      document.getElementById('incorrect').style.display ='block';
                    setTimeout(() => {
                    document.getElementById('incorrect').style.display ='none' ;},3000);  
      

    }
    else{
      phoneVerify(phone,"true")
    }
 
 
  })
   
             

})
</script>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
  </body>
</html>
